<div class="weui-panel">
  <div class="columns is-flex m-4">
    <%= link_to({ controller: '/markdown/posts', action: 'show', path: 'meal.md' }, class: 'column is-half pl-0 py-0 pr-2') do %>
      <img src="/assets/meal.png">
    <% end %>
    <%= link_to({ controller: '/markdown/posts', action: 'show', path: 'pre.md' }, class: 'column is-half pr-0 py-0 pl-2') do %>
      <img src="/assets/pre.png">
    <% end %>
  </div>
</div>
